@model Assignment_C_4.Models.SanPham

@{
    ViewData["Title"] = "EditSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chỉnh Sửa Sản Phẩm</h1>

<h4>Sản Phẩm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSP">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSP" class="control-label"></label>
                <input asp-for="TenSP" class="form-control" />
                <span asp-validation-for="TenSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mau" class="control-label"></label>
                <input asp-for="Mau" class="form-control" />
                <span asp-validation-for="Mau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KichCo" class="control-label"></label>
                <input asp-for="KichCo" class="form-control" />
                <span asp-validation-for="KichCo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaNhap" class="control-label"></label>
                <input asp-for="GiaNhap" class="form-control" />
                <span asp-validation-for="GiaNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLongTon" class="control-label"></label>
                <input asp-for="SoLongTon" class="form-control" />
                <span asp-validation-for="SoLongTon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label"></label>
               <input type="file" asp-for="HinhAnh" accept="image/*" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

